<h1>新規投稿ページ</h1>
<%= form_for @post do |f| %>


  <div class="field">
    <p><%= f.label :場所の名前 %>
    <%= f.text_field :name, :size => 30 %></p>

    <%= f.label :地域 %>
    <%= f.text_field :area, :size => 30 %>
  </div>


  <div class="field">
    <%= f.label :価格 %>
    <%= f.number_field :price, :size => 10 %>

    <p><%= f.label :最大人数 %>
    <%= f.number_field :number, :size => 10 %></p>
  </div>


  <div class="field">
    <%= f.label :アクセス %>
    <%= f.text_area :address, :size => "30x2" %>

    <p><%= f.label :おすすめポイント %>
    <%= f.text_area :about, :size => "30x2" %></p>
  </div>

  <div class="field">
  <%= f.label :image %>
  <%= f.file_field :image %>
  </div>

  <h5>総合評価</h5>
   <div class="post_form">
    <%= f.radio_button :overall, 5 ,id: 'star1'%>
    <label for="star1"><span class="text">最高</span>★</label>

    <%= f.radio_button :overall, 4 ,id: 'star2'%>
    <label for="star2"><span class="text">良い</span>★</label>

    <%= f.radio_button :overall, 3 ,id: 'star3'%>
    <label for="star3"><span class="text">普通</span>★</label>

    <%= f.radio_button :overall, 2 ,id: 'star4'%>
    <label for="star4"><span class="text">悪い</span>★</label>

    <%= f.radio_button :overall, 1 ,id: 'star5'%>
    <label for="star5"><span class="text">最悪</span>★</label>
 </div>

  <%= f.submit "投稿する" %>
<% end %>

<%= link_to "一覧に戻る", posts_path %>
